In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'TransactionID': [1,2,3,4,5], 
        'ClientID': [231, 765, 453, 231, 892], 
        'Profession':['Self-employed', 'students', 'Horeca', 'self-employed','finance'],
        'Bank_dep': ['009', '005', '007', '009','003'],
        'Risk': ['High', 'high', 'medium', 'high','low'],
        'Number of credits': [2, 3, 5, 2, 3],
        'Revenue': [30200, 12700, 89400, '30200',740000]}

In [3]:
data = pd.DataFrame(data)
data

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
0,1,231,Self-employed,009,High,2,30200
1,2,765,students,005,high,3,12700
2,3,453,Horeca,007,medium,5,89400
3,4,231,self-employed,009,high,2,30200
4,5,892,finance,003,low,3,740000

In [4]:
data = pd.get_dummies(data.Profession, prefix = 'Job_')
data

,Job__Horeca,Job__Self-employed,Job__finance,Job__self-employed,Job__students
0,0,1,0,0,0
1,0,0,0,0,1
2,1,0,0,0,0
3,0,0,0,1,0
4,0,0,1,0,0

In [5]:
risk_encode = {"high":3,"High":3, "medium":2, "low":1}
data["risk_code"] = data["Risk"].replace(risk_encode)
data

KeyError: 'Risk'